fastapi
pydantic
pydantic-settings
python-dotenv
uvicorn
sqlalchemy>=2.0.0
psycopg2-binary
pyjwt
python-jose
alembic
openai
google-genai
eth-account
eth-utils
alembic-postgresql-enum
requests
mcp
langchain
langchain[openai]
langchain-google-genai
langchain-mcp-adapters
smithery
jsonschema