fastapi
pydantic
pydantic-settings
python-dotenv
uvicorn
sqlalchemy>=2.0.0
psycopg2-binary
pyjwt
python-jose
alembic
openai
google-genai
eth-account
eth-utils
alembic-postgresql-enum
requests
mcp
langchain
langchain[openai]
langchain-google-genai
langchain-mcp-adapters
duckduckgo-search
langchain-community
langgraph
smithery
jsonschema
web3
celery[redis]>=5.3
python-multipart
bcrypt
itsdangerous>=2.1.0
starlette-admin[sqlalchemy]